Makefile
stamp-h
stamp-h1
stamp-h.in
confdefs.h
configure.lineno
configure.scan
compile
mkinstalldirs
aclocal.m4
libtool
ltconfig
autom4te.cache
autoscan.log
uuid.pc
*.tar.gz
*.o
*.la
*.lo
.deps/
.libs/
